<a href="https://colab.research.google.com/github/kbehrman/foundational-python-for-data-science/blob/main/Chapter-09%3APandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## About DataFrames

- parts of a dataframe: series
- relation to np arrays

## Creation

In [ ]:
import pandas as pd
df = pd.DataFrame()
print(df)

### From dictionary

In [ ]:
import pandas as pd
first_names = ['shanda', 'rolly', 'molly', 'frank', 'rip', 'steven', 'gwen', 'arthur']
last_names = ['smith', 'brocker', 'stein', 'bach', 'spencer', 'de wilde', 'mason', 'davis']
ages = [43, 23, 78, 56, 26, 14, 46, 92]

In [ ]:
data = {'first':first_names,
        'last':last_names,
        'ages':ages}
data

In [ ]:
participants = pd.DataFrame(data)
participants

### From lists

In [ ]:
data = [["shanda", "smith", 43],
        ["rolly", "brocker", 23],
        ["molly", "stein", 78],
        ["frank", "bach", 56],
        ["rip", "spencer", 26],
        ["steven", "de wilde", 14],
        ["gwen", "mason", 46],
        ["arthur", "davis", 92]]

participants = pd.DataFrame(data)
participants

In [ ]:
column_names = ['first', 'last', 'ages']
participants = pd.DataFrame(data, columns=column_names)
participants

In [ ]:
index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
participants = pd.DataFrame(data, 
                            columns=column_names, 
                            index=index_labels)
participants

In [ ]:
# Data from data.fivethiryeight.com
# Data set: college majors
# Download the file to your workstation and then upload it to Colab
college_majors = pd.read_csv('/content/all-ages.csv')


college_majors = college_majors[['Major','Major_category','Total','Unemployment_rate']]
college_majors

## Accessing Data
- Head/Tail
- descriptive stats

- indexes(columns) named or numbered
- accessing columns or indexes (brackets, iloc, loc, at, iat)
- masking and filtering 
    - single condidtion
    - combining conditions
    - conditions using multiple columns

### Heads and tails

In [ ]:
college_majors.head()

In [ ]:
college_majors.head(3)

In [ ]:
college_majors.tail()

### Descriptive statistics

In [ ]:
college_majors.describe()

In [ ]:
college_majors.describe(percentiles=[0.1, 0.9])

In [ ]:
import numpy as np
college_majors.describe(include=[np.object])

In [ ]:
college_majors.describe(include=['object'])

In [ ]:
college_majors.describe(include='all')

In [ ]:
college_majors.describe(exclude=['int'])

### Access data

In [ ]:
participants

In [ ]:
participants['first']

In [ ]:
df = pd.DataFrame({'one':[1,2,3],'two':[9,5,3]})
df.std()

In [ ]:
df.iloc[0:2]

In [ ]:
participants.ages

In [ ]:
participants[['last', 'first']]

In [ ]:
participants[3:6]

In [ ]:
participants['a':'c']

In [ ]:
mask = [False, True, True, False, False, True, False, False]
participants[mask]

### Optimized access by name

In [ ]:
participants.loc['c']

In [ ]:
participants.loc['c':'f']

In [ ]:
mask = [False, True, True, False, False, True, False, False]
participants.loc[mask]

In [ ]:
participants.loc[:, 'first']

In [ ]:
participants.loc[:'c', ['ages', 'last']]

In [ ]:
participants.loc[:'c', [False, True, True]]

### Optimized access by index

In [ ]:
participants.iloc[3]

In [ ]:
participants.iloc[1:4]

In [ ]:
participants.iloc[1:4, :2]

### Masking and filtering

#### Comparison operators

In [ ]:
college_majors = pd.read_csv('/content/all-ages.csv')
college_majors

In [ ]:
college_majors.Major_category == 'Humanities & Liberal Arts'

In [ ]:
total_mask = college_majors.loc[:, 'Total'] > 1200000
total_mask

In [ ]:
top_majors = college_majors.loc[total_mask]
top_majors

In [ ]:
top_majors.Total.min()

In [ ]:
college_majors.Unemployment_rate.describe()

In [ ]:
employ_rate_mask = college_majors.loc[:, 'Unemployment_rate'] <= 0.046261
employ_rate_majors = college_majors.loc[employ_rate_mask]
employ_rate_majors.Major_category.unique()

#### Pandas boolean operators
| & ~

In [ ]:
total_rate_mask = employ_rate_mask & total_mask
total_rate_mask

In [ ]:
college_majors.loc[total_rate_mask]

In [ ]:
lower_rate_mask = ~employ_rate_mask
lower_rate_majors = college_majors.loc[lower_rate_mask]
lower_rate_majors.Unemployment_rate.min()

In [ ]:
college_majors.loc[total_mask | employ_rate_mask]

## Manipulating DataFrames
- renaming
- adding data to a dataframe
    - columns
        - from list
        - dataframe
        - operation on other columns
    - rows
        - append
        - concat
- deleting 
    - index (resetting)
    - columns drop (in_place)
    - rows

In [ ]:
participants.columns

In [ ]:
participants.rename(columns={'ages': 'Age'})

In [ ]:
participants.columns

In [ ]:
participants.rename(columns={'ages':'Age'}, inplace=True)
participants.columns

In [ ]:
participants['Zip Code'] = [94702, 97402, 94223, 94705, 97503, 94705, 94111, 95333]
participants

In [ ]:
participants['Full Name'] = participants.loc[:, 'first'] + participants.loc[:, 'last']
participants

In [ ]:
participants['Full Name'] = participants.loc[:, 'first'] + ' ' + participants.loc[:, 'last']
participants

## Manipulating Data
- setting values using loc and iloc 
- operations on dataframes and series
- map function elements in column (series)
- apply function - across rows or columns

- pivot, pivot_table?

In [ ]:
participants.loc['h', 'first'] = 'Paul'
participants

In [ ]:
participants.iloc[3, 2] = 99
participants

In [ ]:
participants.Age -= 1
participants

#### Replace

In [ ]:
participants.replace('rolly', 'Smiley')

In [ ]:
participants.replace(r'(s)([a-z]+)', r'S\2', regex=True)

In [ ]:
def cap_word(w):
    return w.capitalize()

participants.loc[:, 'first'].apply(cap_word)

In [ ]:
def say_hello(row):
    return f'{row["first"]} is {row["Age"]} years old.'

participants.apply(say_hello, axis=1)

### Interactive Display

In [ ]:
#@ Colab DataFrame interactive display
%load_ext google.colab.data_table

In [ ]:
college_majors