<a href="https://colab.research.google.com/github/kbehrman/foundational-python-for-data-science/blob/main/Data-Conversion-Recipes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Convert lists to dicts, and dicts to lists

### Converting Lists to Dictionaries

#### Create basic dictionary

In [ ]:
key_values = [('one', 1), ('two', 2), ('three', 3)]
d = dict( key_values )
d

{'one': 1, 'two': 2, 'three': 3}

#### Zip two lists

In [ ]:
instruments = [ 'violin', 'lute', 'banjo', 'accordian']
players = [ 'Anne-Sophie Mutter', 
            'Julian Bream', 
            'Noam Pikelny', 
            'Astor Pantaleón Piazzolla' ]

d = dict(zip(instruments, players))
d

{'violin': 'Anne-Sophie Mutter',
 'lute': 'Julian Bream',
 'banjo': 'Noam Pikelny',
 'accordian': 'Astor Pantaleón Piazzolla'}

#### From keys

In [ ]:
racers = ['Tom', 'Bill', 'Will', 'Jill']
start_distance = 0
d = dict.fromkeys(racers, start_distance)
d

{'Tom': 0, 'Bill': 0, 'Will': 0, 'Jill': 0}

### Converting Dictionaries to  Lists

In [ ]:
d = {'name': 'toby', 'id' : 14}

#### Get a list of keys

In [ ]:
list(d)

['name', 'id']

#### Get keys in sorted order

In [ ]:
sorted(d)

['id', 'name']

#### Get list of values

In [ ]:
list(d.values())

['toby', 14]

### Get list of items

In [ ]:
list(d.items())

[('name', 'toby'), ('id', 14)]

## Convert dicts to pandas Dataframe

### Create DataFrame using data parameter

In [ ]:
from pandas import DataFrame

d = {'first': ['Jill', 'Solma', 'Elizabeth'], 
     'last': ['Stein', 'Smith', 'Tudor']}
DataFrame(data=d)

       first   last
0       Jill  Stein
1      Solma  Smith
2  Elizabeth  Tudor

### Use class from_dict method

In [ ]:
DataFrame.from_dict(d)

       first   last
0       Jill  Stein
1      Solma  Smith
2  Elizabeth  Tudor

### Create DataFrame with index orientation

In [ ]:
d = {0: ['Edward', 'Tudor'], 1: ['Robert', 'Redford'], 3: ['Earl', 'Scruggs']}
df = DataFrame.from_dict(d, orient='index')
df.columns=['first', 'last']
df

    first     last
0  Edward    Tudor
1  Robert  Redford
3    Earl  Scruggs

### Assign column names

In [ ]:
d = {'a': 'A', 'b': 'B', 'c': 'C'}
df = DataFrame(list(d.items()), columns=['lower', 'upper'])
df

  lower upper
0     a     A
1     b     B
2     c     C

## Convert characters to integers and back

### Cast str to int

#### Base 10

In [ ]:
int('011')

11

#### Base 2

In [ ]:
int('011', 2)

3

#### Base 6

In [ ]:
int('011', 6)

7

#### Base 8

In [ ]:
int('011', 8)

9

#### Base 16

In [ ]:
int('011', 16)

17

### Cast int to string

In [ ]:
one = str(1)
type(one)

str

### Convert between hexadecimal, binary, and floats

### Cast to str from float

In [ ]:
a_str = str(12.4)
f" {a_str!r} is a {type(a_str)}"

" '12.4' is a <class 'str'>"

### Cast to float from str

In [ ]:
a_str = "12.3"
a_float = float(a_str)
f" {a_float!r} is a {type(a_float)}"

" 12.3 is a <class 'float'>"

### Hexadecimal

#### Int to hex str

In [ ]:
int_hex = hex(18)
f" hex(18) returns the {type(int_hex)}: {int_hex!r}"

" hex(18) returns the <class 'str'>: '0x12'"

#### Float to hex str

In [ ]:
float_hex = 12.0.hex()
f" 12.4.hex() returns the {type(float_hex)}: {float_hex!r}"

" 12.4.hex() returns the <class 'str'>: '0x1.8000000000000p+3'"

[hex function](https://docs.python.org/3/library/functions.html)

### Conversion to and from binary

#### Bytes literal
Similar to strings, but limited to ASCII characters.

In [ ]:
bytes_str = b"some bytes literal"
type(bytes_str)

bytes

#### Encode to bytes

In [ ]:
import base64
bytes_str = b"Encode this string"
encoded_str = base64.b64encode(bytes_str)
f"The encoded string {encoded_str!r} is of type {type(encoded_str)}"

"The encoded string b'RW5jb2RlIHRoaXMgc3RyaW5n' is of type <class 'bytes'>"

#### Decode from bytes

In [ ]:
base64.b64decode(encoded_str)

b'Encode this string'